.main-navigation {
	
	ul {
		display: none;
		list-style: none;
		margin: 0;
		padding-left: 0;

		ul {
			float: left;
			position: absolute;
			top: 1.5em;
			left: -999em;
			z-index: 99999;

			li {
				&:hover > ul,
				&.focus > ul {
					left: 100%;
				}
			}

			a {
			  	width: 200px;
			}
		}

		li:hover > ul,
		li.focus > ul {
			left: auto;
		}
	}

	> div > ul > li {
		border-bottom: 1px solid #ccc;
	    padding: 0.45em 0;
	    font-size: 120%;

		&:hover > a,
		&.focus > a {}

		> ul {
			padding-top: 0.625em;
			background: white;
			padding-left: 10px;
			padding-right: 10px;
			margin: 0 -10px;

			li:hover ul {
				position: static;
				margin-left: 20px;

				li:before {
					content: '—';
					float: left;
					margin-right: 5px;
				}
			}
		}
	}
	a {
		color: $color__text-nav-link;
		display: block;
		font-size: 0.889rem;
		text-decoration: none;
	}

	.current_page_item > a,
	.current-menu-item > a,
	.current_page_ancestor > a,
	.current-menu-ancestor > a {
		color: $color__text-nav-current;
	}
}

.main-navigation ul {
	display: block;
}

.no-bull {
	display: block;
	margin-left: -2em;
}