.comment-navigation,
.posts-navigation,
.post-navigation {
	.site-main & {
		margin: 4em 0 1.5em;

		&:after {
			@include clearfix;
			@include clearfix-after;
		}
	}
	
	.nav-links > div > a {
		border: 1px solid #ddd;
	    border-radius: 4px;
	    padding: 0.45rem 0.75rem;

	    &:hover {
	    	color: $color__link; 
			border-color: $color__link;
	    }
	}

	.nav-next {
		float: left;
		width: 50%;
	}
	
	.nav-previous {
		float: right;
		text-align: right;
		width: 50%;
	}
}

.page-numbers {
	margin-left: 0;
}

.page-numbers li {
	display: inline-block;

	&:first-child {
		padding-right: 0.75em;
	}

	& + li {
		padding: 0 0.75em;
	}

	.current {
		border-bottom: 2px solid $color__text-pagination--current;
	}
}
