.comments-area {
	padding: 5px 1rem 0;
}
.comment-list {
	margin-left: 3rem;

	@media screen and (min-width: 37.5em) {
		margin-left: 2.25rem;
	}

	.comment {
		list-style: none;
		margin: 2rem 0 0 0;
	}
}
.comment-content {
	font-size: $font__size--small;

	a {
		word-wrap: break-word;
	}
	p {
		margin: 0 0 0.5rem;
	}
}
.bypostauthor {
	display: block;
}
.comment-author {
	position: relative;

	img {
		position: absolute;
		left: -3rem;

		@media screen and (min-width: 37.5em) {
			left: -2.25rem;
		}
	}

	span {
		font-weight: 500;
		font-size: 0.889rem;
	}
}
.comment-metadata a {
	color: $color__text-meta;
	font-size: $font__size--small;
	margin-left: 5px;
}
.reply {
	font-size: $font__size--small;
}
.comment-reply-title {
	> small {
		float: right;
	}
}
