.sticky {
	display: block;
}

.hentry {
	margin: 0 0 1.5em;
	border-bottom: 1px solid $color__border-hentry;
	padding: 0 2em 2em 0;
}

.byline,
.updated:not(.published){
	display: none;
}

.single .byline,
.group-blog .byline {
	display: inline;
}

.page-content,
.entry-content {
	margin: 1.5em 0 0;
}

.page-links {
	clear: both;
	margin: 0 0 1.5em;
}

.entry-header {
	.entry-title, .entry-title a {
		color: $color__text-heading;
	}
	.entry-title {
		margin-bottom: 0;

		a:hover,
		a:focus{
			color: $color__link-hover;
		}
	}
	.entry-meta {
		color: $color__text-meta;
		font-size: $font__size--small;
	}

}

.page-header {
	.page-title {
		margin: 0 0 3rem;
	}
}

.archive .page-header .archive-label {
	text-transform: uppercase;
	font-size: 0.78rem;
}

body:not(.single) .entry-thumbnail + .entry-summary {
	margin-top: 0;
}

@media screen and (min-width: 37.5em) {
	.entry-thumbnail {
		float: left;
		margin-top: 1.5em;
		width: 35%;
	}

	body:not(.single) .entry-thumbnail + .entry-summary {
		float: right;
		width: 60%;
	}
}

.entry-footer {
	color: $color__text-meta;
	font-size: 0.778rem;

	span + span:before {
		content: '\2022';
		margin: 0 5px;
	}
}