$color__background-body: #ffffff;
$color__background-header: transparent;
$color__background-content: #f6f6f6;
$color__background-screen: #f1f1f1;
$color__background-hr: #ccc;
$color__background-button: #e6e6e6;
$color__background-pre: #eee;
$color__background-ins: #fff9c0;

$color__text-screen: #21759b;
$color__text-input: #666;
$color__text-input-focus: #111;
$color__link: #9c9c5a;
$color__link-visited: #989c8b;
$color__link-hover: #989c8b;
$color__text-main: #2c2c2c;
$color__text-nav-link: #747474;
$color__text-nav-current: #9c9c5a;
$color__text-heading: #303030;
$color__text-meta: #969696;

$color__border-nav-children: #969696;
$color__border-hentry: #cdcdcd;
$color__border-button: #ccc #ccc #bbb;
$color__border-button-hover: #ccc #bbb #aaa;
$color__border-button-focus: #aaa #bbb #bbb;
$color__border-input: #ccc;
$color__border-abbr: #666;
