.site-content {
	background: $color__background-content;
	padding: 1em 0;

  .-inner-wrap {
	margin: 0 auto;
	max-width: 65em;
	padding: 1.25em 1.875em;
  }
}

/*--------------------------------------------------------------
## Content Layout
--------------------------------------------------------------*/
@import "../layout/content-sidebar";

/*--------------------------------------------------------------
## Posts and pages
--------------------------------------------------------------*/
@import "primary/posts-and-pages";

/*--------------------------------------------------------------
## Asides
--------------------------------------------------------------*/
@import "primary/asides";

/*--------------------------------------------------------------
## Comments
--------------------------------------------------------------*/
@import "primary/comments";