.site-content {
	background: $color__background-content;
	padding: 1em 0;

  .-inner-wrap {
    margin: 0 auto;
    max-width: 72em;
    padding: 0 4.813em;
  }
}

/*--------------------------------------------------------------
## Content Layout
--------------------------------------------------------------*/
@import "../layout/content-sidebar";

/*--------------------------------------------------------------
## Posts and pages
--------------------------------------------------------------*/
@import "primary/posts-and-pages";

/*--------------------------------------------------------------
## Asides
--------------------------------------------------------------*/
@import "primary/asides";

/*--------------------------------------------------------------
## Comments
--------------------------------------------------------------*/
@import "primary/comments";