.site-header {
	background: $color__background-header;
	margin: 0 auto;
	max-width: 70.44rem;
    padding: 1.25em 0 1.25em 1.875em;
}

.site-description {
	clear: both;

	@media screen and (min-width: 37.5em) {
		font-size: 1.125em;
		margin-left: 5%;
		width: 80%;
	}
}

.site-description:before {
	content: '—';
	margin-right: 10px;
}

.site-branding {
	margin: 0 4.688em;

	a, a:visited {
		color: $color__link;
		height: 28px;
		display: table-cell;
	}

	a object, a img {
		vertical-align: middle;
	}

	@media screen and (min-width: 37.5em) {
		margin: 0 4.688em;
		padding: 5em 0 2em;
	}
}

h1.site-title {
	margin-bottom: 0.5rem;
}

.site-title {
	float: left;

	img {
		width: 100px;
	}
}

body.home:not(.paged) .site-branding {
	.site-title img {
		@media screen and (min-width: 37.5em) {
			width: 160px;
		}
	}
}

body:not(.home) .site-branding, body.paged .site-branding {
	margin: 0;
	padding: 0;
	float: left;
}