.site-header {
	background: $color__background-header;
	margin: 0 auto;
	max-width: 65em;
	padding: 1.25em 1.875em;
}

.site-description {
	clear: both;
	font-size: 1.125em;
	margin-left: 5%;
	width: 80%;
}

.site-description:before {
	content: '—';
	margin-right: 10px;
}

.site-branding {
	margin: 0 4.688em;
	padding: 6.25em 0 3.125em;

	a, a:visited {
		color: $color__link
	}
}

.site-title {
	float: left;

	img {
		display: block;
	}
}

body:not(.home) .site-branding, body.paged .site-branding {
	margin: 0;
	padding: 0;
	float: left;
}