.site-header {
	background: $color__background-header;
	margin: 0 auto;
	max-width: 72em;
	padding: 1.25em 4.813em;;
}

.site-description {
	font-size: 1.125em;
	margin-left: 5%;
	width: 80%;
}

.site-description:before {
	content: '—';
	margin-right: 10px;
}

.site-branding {
	margin: 0 4.688em;
	padding: 6.25em 0 3.125em;

	a, a:visited {
		color: $color__link
	}
}

.site-title {
	margin-bottom: 0;

	img {
		display: block;
	}
}

body:not(.home) .site-branding {
	margin: 0;
	padding: 0;
	float: left;

	p {
		margin: 0;
	}
}